* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  min-width: fit-content;
}
header {
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.688rem 3rem 1.25rem 3rem;
}

.flexed {
  display: flex;
  align-items: center;
}
.logobar > h2 {
  width: min-content;
  color: #494949;
  cursor: pointer;
}

.link-section__header-link,
.link-section__header-language,
.link-section_menu-wrapper {
  list-style-type: none;
  color: #494949;
  font-size: 1.25rem;
}
.link-section__header-link > li,
.link-section__header-language > li {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  &:hover {
    color: #000;
    border-bottom: solid #000;
  }
}
.link-section__divider {
  padding-left: 0.938rem;
  margin-right: 0.938rem;
  border-right: 2px solid #d6d6d6;
  width: 1.063rem;
  height: 1.75rem;
}

.fa-magnifying-glass,
.fa-bars,
.fa-xmark {
  font-size: 1.25rem;
  cursor: pointer;
  color: #494949;
  &:hover {
    color: #000;
  }
}
.link-section_menu-wrapper > span {
  margin: 0 0.5rem;
}
.link-section_menu-wrapper > button {
  border: none;
  background: none;
  cursor: pointer;
}

.menu-wrapper--expanded,
.menu-wrapper--collapsed {
  background: #f2f2f2;
  position: absolute;
  border-top: 4px solid #494949;
  z-index: 200;
  height: 500px;
  overflow: hidden;
  left: 0;
  right: 0;
  transition: height 1s ease-in-out;
  & > nav {
    margin: 3rem 6rem;
    height: min-content;
    & > :not(.first-level) {
      display: none;
    }
  }
}
.menu-wrapper--collapsed {
  height: 0;
}

.first-level {
  list-style-type: none;
  padding: 0;
  & > li {
    padding: 0.5rem 0 0.5rem 1.25rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4rem;
    & > span {
      display: block;
      color: #494949;
      font-size: 1rem;
      &:hover {
        color: #000;
      }
    }
    & > .fa-chevron-right {
      color: #494949;
      &:hover {
        color: #000;
      }
    }
  }
  & > li:nth-child(1) {
    border-left: 4px solid #035970;
  }
  & > li:nth-child(2) {
    border-left: 4px solid #0083c6;
  }
  & > li:nth-child(3) {
    border-left: 4px solid #494949;
  }
  & > li:nth-child(4) {
    border-left: 4px solid #e96d0c;
  }
  & > li:nth-child(5) {
    border-left: 4px solid #170238;
  }
}

@media (max-width: 400px) {
  .link-section_menu-wrapper > span {
    display: none;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 1.688rem 1rem 1.25rem 1rem;
  }
  .menu-wrapper--expanded,
  .menu-wrapper--collapsed {
    & > nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      height: min-content;
      & > :not(.first-level) {
        display: block;
      }
      .link-section__header-responsive {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .link-section__header-language {
        border-right: 2px solid #494949;
        margin-right: 1rem;
      }
      .link-section__header-link {
        margin: 1rem 0 2rem 0;
        & > li {
          font-size: 0.9375rem;
          padding: 0.5rem 1.25rem;
          font-weight: bold;
          &:hover {
            border: none;
          }
        }
      }
      .first-level {
        width: 100%;
      }
    }
  }
  .logobar > h2 {
    font-size: 1rem;
  }
  .logobar > img {
    width: 4rem;
    height: auto;
  }
}

@media (max-width: 1150px) {
  .link-section > ul,
  .link-section > div:not(.link-section_menu-wrapper) {
    display: none;
  }
}
