* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.688rem 3rem 1.25rem 3rem;
}

.flexed {
  display: flex;
  align-items: center;
}
.logobar > h2 {
  width: min-content;
  color: #494949;
  cursor: pointer;
}

.link-section__header-link,
.link-section__header-language,
.link-section_menu-wrapper {
  list-style-type: none;
  color: #494949;
  font-size: 1.25rem;
}
.link-section__header-link > li,
.link-section__header-language > li {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  &:hover {
    color: #000;
    border-bottom: solid #000;
  }
}
.link-section__divider {
  padding-left: 0.938rem;
  margin-right: 0.938rem;
  border-right: 2px solid #d6d6d6;
  width: 1.063rem;
  height: 1.75rem;
}

.fa-magnifying-glass,
.fa-bars {
  font-size: 1.25rem;
  cursor: pointer;
  color: #494949;
  &:hover {
    color: #000;
  }
}
.link-section_menu-wrapper > span {
  margin: 0 0.5rem;
}
